{% extends "../main/base.html" %}
{% load static %}
{% block csslink %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock csslink %}
{% block title %}
Аккаунт
{% endblock title %}
{% block loginlink %}
{% if user_profile %}
<a href="{% url 'account' nickname=user_profile.username %}" class="menu__link">{{ user_profile.username }}</a>
<div class="line"></div>
{% else %}
<a href="{% url 'login' %}" class="menu__link">Авторизация</a>
<div class="line"></div>
{% endif %}
{% endblock loginlink %}
{% block content %}
<div class="page__main-block main-block">
    <div class="main-block__container _container">
        <div class="main-block__body">
            <div class="content_block">
                <div class="main-block__logo_items">
                    <div class="circle">
                        <img src="{% static user.profile_picture %}" alt="">
                    </div>
                    <div class="main-block__links">
                        <div class="main-block__username">
                            {{ user.user.username }}
                        </div>
                        <div class="main-block__email">
                          {{ user.user.email }}
                        </div>
                        {% if user.user_name == user_profile.username %}
                        <div class="main-block__logout">
                            <a href="{% url 'logout' %}" class="main-block__logout_link">Выйти из сессии пользователя</a>
                        </div>
                        {% endif %}
                    </div>
                    {% if user.user_name == user_profile.username %}
                    <div class="main-block__change_profile">
                        <a href="{% url 'change' nickname=user_profile.username %}" class="main-block__change_link">Изменить данные профиля</a>
                        <a href="{% url 'additem' nickname=user_profile.username %}" class="main-block__change_link">Добавить позицию</a>
                    </div>
                    {% endif %}
                </div>
                <div class="main-block__title_about">
                    О себе:
                </div>
                <div class="main-block__about">
                    {{ user.about }}
                </div>
              <div class="main-block__cards_container">
                {% if user_items %}
                {% for element in user_items %}
                <div class="container card">
                  <div class="card_left">
                    <a href="#"><i class="fa fa-long-arrow-left left" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-long-arrow-right right" aria-hidden="true"></i></a>
                    <img src="{% static element.pictures.image_main %}">
                  </div>
                  <div class="card_right">
                    <span>{{element.category}}</span>
                    <h3>{{element.item_name}}</h3>
                    <p>{{element.description}}</p>
                    <div class="card_footer">
                      <span class="price">{{element.author}}</span>
                      <a href="{% url 'item_check' author=user_profile.username id=element.id %}" class="btn">
                        подробнее
                      </a>
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
              </div>  
            </div>
        </div>
    </div>
</div>
{% endblock content %}